[user]
	name = Sakshi Aggarwal
	email = 81718060+sakshiagrwal@users.noreply.github.com
[core]
	autocrlf = false
[alias]
	co = checkout
	br = branch
	st = status
	di = diff
	lg = log --oneline
	wp = commit -m "WIP"
	cp = cherry-pick -s
	amd = commit --amend -s
	amdn = commit --amend --no-edit
	rst = reset --hard HEAD
	rbs = rebase -i HEAD
